.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 15px;
}

    .navbar-item a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

        .navbar-item a:hover,
        .navbar-item a.active-link {
            color: #ffa500; /* Aktywny link */
        }
